<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>ID</key>
		<string>1</string>
		<key>Estado</key>
		<string>Activo</string>
		<key>Tipo</key>
		<string>Super Usuario</string>
		<key>Nombre</key>
		<string>Andres David Carreno</string>
		<key>Usuario</key>
		<string></string>
		<key>Contrasena</key>
		<string></string>
		<key>Proyectos</key>
		<dict>
			<key>0</key>
			<dict>
				<key>ID</key>
				<string>0</string>
				<key>Nombre</key>
				<string>La Colina Club Residencial</string>
				<key>Logo</key>
				<string>http://www.amarilo.com.co/wp-content/themes/amarilo/images/logoAmarilo_.png</string>
				<key>Imagen</key>
				<string>http://www.plataformaarquitectura.cl/wp-content/uploads/2009/12/1260448328-render.jpg</string>
				<key>Urbanismo</key>
				<string>YES</string>
				<key>Planta General</key>
				<dict>
					<key>URL de Imagen</key>
					<string></string>
					<key>Plantas Especificas</key>
					<dict>
						<key>0</key>
						<dict>
							<key>Posicion Boton</key>
							<string></string>
							<key>URL de Imagen</key>
							<string></string>
							<key>Series</key>
							<dict>
								<key>0</key>
								<dict>
									<key>Posicion Boton</key>
									<string></string>
									<key>Tipos de Pisos</key>
									<dict>
										<key>0</key>
										<dict>
											<key>URL de Imagen</key>
											<string></string>
											<key>Apartamentos</key>
											<dict>
												<key>0</key>
												<dict>
													<key>Posicion Boton</key>
													<string></string>
													<key>Espacios 3D</key>
													<dict>
														<key>0</key>
														<dict>
															<key>Posicion Boton</key>
															<string></string>
														</dict>
													</dict>
												</dict>
											</dict>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>1</key>
			<dict>
				<key>ID</key>
				<string>1</string>
				<key>Nombre</key>
				<string>Cubos Segunda Etapa</string>
				<key>Logo</key>
				<string>http://www.alizarincanada.com/blog/wp-content/uploads/2012/06/Logo-Sustainable-Consumption.gif</string>
				<key>Imagen</key>
				<string>http://studiodetelic.com/gfx/renders/big/studio_detelic-arquitectura_renders_3d-01.jpg</string>
				<key>Urbanismo</key>
				<string>YES</string>
				<key>Planta General</key>
				<dict>
					<key>URL de Imagen</key>
					<string></string>
					<key>Plantas Especificas</key>
					<dict>
						<key>1</key>
						<dict>
							<key>Posicion Boton</key>
							<string></string>
							<key>URL de Imagen</key>
							<string></string>
							<key>Series</key>
							<dict>
								<key>1</key>
								<dict>
									<key>Posicion Boton</key>
									<string></string>
									<key>Tipos de Pisos</key>
									<dict>
										<key>1</key>
										<dict>
											<key>URL de Imagen</key>
											<string></string>
											<key>Apartamentos</key>
											<dict>
												<key>1</key>
												<dict>
													<key>Posicion Boton</key>
													<string></string>
													<key>Espacios 3D</key>
													<dict>
														<key>1</key>
														<dict>
															<key>Posicion Boton</key>
															<string></string>
														</dict>
													</dict>
												</dict>
											</dict>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>2</key>
			<dict>
				<key>ID</key>
				<string>2</string>
				<key>Nombre</key>
				<string>Proyecto de Prueba 3</string>
				<key>Logo</key>
				<string></string>
				<key>Imagen</key>
				<string></string>
				<key>Urbanismo</key>
				<string>NO</string>
				<key>Planta General</key>
				<dict>
					<key>URL de Imagen</key>
					<string></string>
					<key>Plantas Especificas</key>
					<dict>
						<key>1</key>
						<dict>
							<key>Posicion Boton</key>
							<string></string>
							<key>URL de Imagen</key>
							<string></string>
							<key>Series</key>
							<dict>
								<key>1</key>
								<dict>
									<key>Posicion Boton</key>
									<string></string>
									<key>Tipos de Pisos</key>
									<dict>
										<key>1</key>
										<dict>
											<key>URL de Imagen</key>
											<string></string>
											<key>Apartamentos</key>
											<dict>
												<key>1</key>
												<dict>
													<key>Posicion Boton</key>
													<string></string>
													<key>Espacios 3D</key>
													<dict>
														<key>1</key>
														<dict>
															<key>Posicion Boton</key>
															<string></string>
														</dict>
													</dict>
												</dict>
											</dict>
										</dict>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>1</key>
	<dict>
		<key>ID</key>
		<string>1</string>
		<key>Estado</key>
		<string>Activo</string>
		<key>Logo</key>
		<string>logo1.png</string>
		<key>Nombre</key>
		<string>ReMax</string>
		<key>Usuario</key>
		<string>victor</string>
		<key>Contrasena</key>
		<string>hugo</string>
		<key>CabezoteURL</key>
		<string>http://b.vimeocdn.com/ps/157/218/1572188_300.jpg</string>
	</dict>
	<key>2</key>
	<dict>
		<key>ID</key>
		<string>1</string>
		<key>Estado</key>
		<string>Activo</string>
		<key>Logo</key>
		<string>logo1.png</string>
		<key>Nombre</key>
		<string>Colpatria</string>
		<key>Usuario</key>
		<string>juan</string>
		<key>Contrasena</key>
		<string>cho</string>
	</dict>
	<key>3</key>
	<dict>
		<key>ID</key>
		<string>1</string>
		<key>Estado</key>
		<string>Activo</string>
		<key>Logo</key>
		<string>logo1.png</string>
		<key>Nombre</key>
		<string>Carulla</string>
		<key>Usuario</key>
		<string>pi</string>
		<key>Contrasena</key>
		<string>robo</string>
	</dict>
	<key>4</key>
	<dict>
		<key>ID</key>
		<string>1</string>
		<key>Estado</key>
		<string>Activo</string>
		<key>Logo</key>
		<string>logo1.png</string>
		<key>Nombre</key>
		<string>Pichu</string>
		<key>Usuario</key>
		<string>gono</string>
		<key>Contrasena</key>
		<string>picha</string>
	</dict>
</dict>
</plist>
